<h1>{{title}}</h1>

{{#if error}}
  <p id="server_error" name="server_error" style="color: red; text-align: center;">{{error}}</p>
{{/if}}

<form id="signin-form" method="POST" action="/login">

  <div class="form-group">
    <label for="email">Email:</label> 
    <input class="signin-email" name="email" id="email" type="text" value="{{email}}" > 
  </div>

  <div class="form-group">
    <label for="password">Password:</label>
    <input name="password" id="password" type="password">
  </div>

  <div class="form-row">
    <div class="button-container">
      <button id="submit_button" name="submit_button" class="submit">Submit</button>
    </div>
  </div>

  <a id="signuplink" href="/register">Click here to Signup!</a>

</form>

