<h1>{{title}}</h1>
<div class="signout-container">
  
  <p>You have been successfully logged out.</p>
  <a id="loginlink" href="/login">Login Here</a>
  <a id="homelink" href="/">Go back to the Main Page!</a>
</div>

